.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #69b738;
  border: none;
  cursor: pointer;

  &--main {
    font-size: 14px;
    line-height: 18px;
  }

  &--disabled {
    color: #444444;
    background-color: #f2f2f2;
  }
}
