.extra-product__title {
  line-height: 16px;
}

.extra-product__number {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.extra-product__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.extra-product {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extra-product__item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.extra-product__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
