.form__note {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.form__personal-info {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 65px;
  }
}

.form__contacts {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.form__comment {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.form__more-options {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.form__submit-container {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}
