.location {
  position: relative;

  &--dark {
    background-color: @block-color;
  }
}

.location__wrapper {
  width: @wrapper-width-mobile;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @wrapper-width-tablet;
  }

  @media (min-width: @desktop-width) {
    width: @wrapper-width-desktop;
  }
}

.location__map {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}
