.main-index {
  flex-grow: 1;
}

.main-index__wrapper {
  width: @mobile-width;
  margin: 0 auto;
  margin-bottom: 27px;
  padding-top: 27px;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-with-tongue-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-with-tongue-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    min-height: 850px;
    margin-bottom: 0;
    padding-top: 40px;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    min-height: 553px;
    margin-bottom: 82px;
    padding-top: 82px;
  }
}

.main-index__title {
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: relative;
    left: 87px;
    display: inline-block;
    margin-bottom: 41px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    left: 190px;
  }
}

.main-index__programms {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.main-index__works {
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-bottom: 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 29px;
    border-bottom: none;
  }
}
