.main-index {
  flex-grow: 1;
}

.main-index__wrapper {
  margin-bottom: 20px;
  background-image: url("../../img/cat-with-tongue.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
}
