.page {
  height: 100%;
}

.page__body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;

  &--index {
    @media (min-width: @desktop-width) {
      @image-height: 694px;
      background-image: url("../img/cat-with-tongue.webp");
      background-repeat: no-repeat;
      background-size: 720px @image-height;
      background-position: top right calc(50% - (@image-height / 2) - 12px);

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cat-with-tongue@2x.webp");
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 1px);
        z-index: -3;
        width: 720px;
        height: 694px;
        background-color: rgba(104, 183, 56, 0.85);
      }
    }
  }
}
