.personal-info__suggestion {
  width: 226px;
  margin: 0;
  margin-bottom: 39px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
