.present-suggestion {
  @width: 280px;
  @height: 290px;
  min-width: @width;
  min-height: @height;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-in-bag.webp");
  background-repeat: no-repeat;
  background-size: @width @height;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-in-bag@2x.webp");
    background-size: 280px 290px;
  }

  @media (min-width: @tablet-width) {
    min-height: 200px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-in-bag-tablet.webp");
    background-size: 707px 200px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-in-bag-tablet@2x.webp");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 288px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-in-bag-desktop.webp");
    background-size: 245px 288px;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-in-bag-desktop@2x.webp");
    }
  }
}

.present-suggestion__wrapper {
  display: flex;
  flex-direction: column;
  width: @wrapper-width-mobile;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: @wrapper-width-tablet;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 100%;
  }
}

.present-suggestion__text {
  width: 161px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 71px 124px 0 0;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    text-align: center;
  }
}

.present-suggestion_image {
  display: block;
  margin: 58px auto 48px auto;

  @media (min-width: @tablet-width) {
    margin: 57px 0 0 77px;
  }

  @media (min-width: @desktop-width) {
    margin: 55px auto 46px auto;
  }
}
