.site-list {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: end;
  }
}

.site-list__item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
